td.readme-text {
    white-space: pre-wrap !important;
}

.readme-text > .dtr-data {
    white-space: pre-wrap !important;
}

.readme-text pre, xmp, plaintext, listing {
    white-space: pre-wrap;
}

